%html
%head
  %title Bookstore
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = favicon_link_tag
  = csrf_meta_tags

.top-nav
  .container-fluid
    .row
      .col-sm-8.col-sm-offset-1
        %p.font-weight-bolder.font-size-38
          = link_to 'bookstore.com', root_path, id: 'logo'
      .col-sm-3
        - if user_signed_in?
          .dropdown
            %a#base_user_email_toggle.dropdown-toggle{ 'data-toggle' => 'dropdown', type: 'button' }
              = current_user.email
              %span.caret.glyphicon
            %ul.dropdown-menu
              %li
                =link_to 'Profile', edit_user_registration_path
              %li
                =link_to 'Log out', destroy_user_session_path, method: :delete
        - else
          %a#base_login_button.btn.btn-link= link_to 'Log In', new_user_session_path
          %a.btn.btn-link= link_to 'Sign Up', new_user_registration_path
  %br/

.top-actions
  .container
    / Book, author search box
    .col-md-4
      = form_for :book, url: books_path, method: :get, remote:true do |f|
        .input-group
          = text_field_tag :search, params[:search], placeholder: 'title, author', class: 'search_field form-control'
          %span.input-group-btn
            = f.submit '', class: 'sprite btn-search'
    / Drop down cart
    / Categories filter drop down
    .col-md-4
      .dropdown
        %button#dropdown-categories.btn.btn-default.dropdown-toggle{ 'data-toggle' => 'dropdown', type: 'button' }
          %span.category-title
            - if @selected_category
              = @selected_category.name
          %span.sprite.white-arrow-down.glyphicon
        %ul.dropdown-menu{ 'aria-labelledby' => 'dropdown-categories' }
          - @categories.each do |cat|
            %li
              = link_to cat.name, books_path(cat_id: cat.id), remote: true
    / Drop down cart
    .col-md-4
      .dropdown
        %button#dropdown-cart.btn.btn-default.dropdown-toggle{ 'data-toggle' => 'dropdown', type: 'button' }
          %span.ic-cart.vertical-center
          %span#cart-value.vertical-center basket ($ 0)
          %span#cart-no-items.ic-orange-circle.vertical-center 3
          %span.white-arrow-down.vertical-center
        %ul.dropdown-menu{ 'aria-labelledby' => 'dropdown-cart' }
          %li
            =link_to 'Cart Details'


#flash_messages.container
  = render partial: 'layouts/flash', locals:{ flash: flash }

%body{ class: controller.controller_name }
  = yield
